# Note: Copiar en la misma carpeta con
# tus configuraciones respectivas
# copiar en un archivo .env

WIFI_SSID=tu_wifi_uwu
WIFI_PASS=tu_password_de_tu_wifi
MQTT_HOST=your_mqtt_host
MQTT_PORT=1883
MQTT_USER=your_mqtt_user
MQTT_ACTION=your_mqtt_password
# TODO: implementation MQTT_BROKER=192.168.1.10